body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: relative;
  top: 0px;
  gap: 50px;
}

.login-btn {
  background-color: #d74b4b;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

.signup-btn {
  color: #d74b4b;
  border: #d74b4b solid 2px;
  padding: 8px 18px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}
.nav-links li a {
  color: #d74b4b;
  text-decoration: none;
  font-weight: bold;
}
.nav-links li a:hover {
  text-decoration: underline;
}

.btn {
  background-color: #d74b4b;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  margin-top: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 10px 0 0px 0;
}

.header-img img {
  height: 40px;
  width: auto;
}

.header-text {
  text-align: left;
  padding-left: 30px;
  width: 600px;
}

.highlight {
  color: #d74b4b;
}

.header-text h1 {
  font-size: 58px;
  margin: 0;
  color: rgb(33, 33, 33);
}
.header-text p {
  font-size: 18px;
  color: #555;
}

.header {
  background-image: url("./bg.png");
  background-size: cover;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
}

.logo img {
  height: 50px;
}

.header-img img {
  display: flex;
  position: relative;
  width: auto;
  height: 500px;
  left: 50px;
}

.main-content {
  padding: 40px 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-content h2 {
  color: #d74b4b;
  margin-bottom: 10px;
}
.cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-info {
  padding: 15px;
  text-align: center;
  background-color: #fff;
}

.card-title {
  font-size: 18px;
  margin: 0 0 5px;
}

.card-price {
  font-size: 16px;
  font-weight: bold;
  color: #ff5b5b; /* optional color for price */
  margin: 0;
}

.btn-seemore {
  display: inline-block;
  margin: 20px auto;
  padding: 10px 20px;
  border: #d74b4b solid 2px;
  color: #d74b4b;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 10px 0 0px 0;
}

.about-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  align-items: center;
  margin-top: 100px;
}

.about-text {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.about-text p {
  max-width: 400px;
  margin: 10px auto;
  color: #555;
  text-align: left;
}

.about-text h2 {
  color: #d74b4b;
  text-align: left;
}
.about-img img {
  height: 300px;
  width: auto;
  border-radius: 10px;
  border: 1px solid #9e9e9e;
}

.footer {
  background-color: #f8f8f8;
  text-align: center;
  margin-top: 40px;
  color: #d74b4b;
  padding: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 25px; /* space between icons */
  margin-bottom: 10px;
}

.social-icons a {
  color: #d74b4b; /* icon color */
  font-size: 32px; /* icon size */
  transition: transform 0.2s, color 0.2s;
}
