body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: relative;
  top: 0px;
  gap: 50px;
}

.nav-buttons {
  display: flex;
  gap: 24px;
}

.login-btn {
  background-color: #d74b4b;
  border: #d74b4b solid 2px;
  color: white;
  padding: 8px 8px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
}

.signup-btn {
  color: #d74b4b;
  border: #d74b4b solid 2px;
  padding: 8px 8px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 26px;
}
.nav-links li a {
  color: #d74b4b;
  text-decoration: none;
  font-size: 16px;
}
.nav-links li a:hover {
  text-decoration: underline;
}

.btn {
  background-color: #d74b4b;
  border: #d74b4b solid 2px;
  color: white;
  padding: 8px 8px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 10px 0 0px 0;
}

.header-img img {
  height: 40px;
  width: auto;
}

.header-text {
  text-align: left;
  padding-left: 30px;
  width: 600px;
}

.highlight {
  color: #d74b4b;
}

.header-text h1 {
  font-size: 58px;
  margin: 0;
  color: rgb(33, 33, 33);
}
.header-text p {
  font-size: 18px;
  color: #555;
}

.header {
  background-image: url("./bg.png");
  background-size: cover;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
}

.logo img {
  height: 50px;
}

.header-img img {
  display: flex;
  position: relative;
  width: auto;
  height: 500px;
  left: 50px;
}

.main-content {
  padding: 40px 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-content h2 {
  color: #d74b4b;
  margin-bottom: 10px;
}
.cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-info {
  padding: 15px;
  text-align: center;
  background-color: #fff;
}

.card-title {
  font-size: 18px;
  margin: 0 0 5px;
}

.card-price {
  font-size: 16px;
  font-weight: bold;
  color: #ff5b5b; /* optional color for price */
  margin: 0;
}

.btn-seemore {
  display: inline-block;
  margin: 20px 0px 10px 0;
  padding: 10px 20px;
  border: #d74b4b solid 2px;
  color: #d74b4b;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
}

.btn-add {
  display: inline-block;
  border: #d74b4b solid 2px;
  margin: 20px 0px 10px 0;
  padding: 8px 8px;
  background-color: #d74b4b;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 10px 0 0px 0;
}

.about-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
  align-items: center;
  margin-top: 100px;
}

.about-text {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.about-text p {
  max-width: 400px;
  margin: 10px auto;
  color: #555;
  text-align: left;
}

.about-text h2 {
  color: #d74b4b;
  text-align: left;
}
.about-img img {
  height: 300px;
  width: auto;
  border-radius: 10px;
  border: 1px solid #9e9e9e;
}

.footer {
  background-color: #f8f8f8;
  text-align: center;
  margin-top: 40px;
  color: #d74b4b;
  padding: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 10px;
}

.social-icons a {
  color: #d74b4b;
  font-size: 32px;
  transition: transform 0.2s, color 0.2s;
}

/* Login page styles */

.login-background {
  background-image: url("./bg-otherpages.png");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-login {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-size: cover;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
}

/* Full-page split container */
.login-split-page {
  display: flex;
  background-color: #fff;
  height: calc(100vh - 200px);
  justify-content: center;
}

.both-sides {
  display: flex;
  height: 500px;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 4px 7px 20px 8px rgba(119, 119, 119, 0.1);
  border: #ccc solid 1px;
}

.login-image-side {
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.image-overlay {
  background-image: url("./image-side.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-overlay h2 {
  margin-bottom: 15px;
  color: #fff;
}

.image-overlay p {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  display: flex;
  padding: 0px 20px 20px 20px;
}

.login-box-side {
  background-color: #ffffff;
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  width: 90%;
  padding: 0 20px 0 20px;
  justify-content: center;
  border-radius: 0px 10px 10px 0;
}

.login-form {
  margin: 0px;
  width: 100%;
  background: #fff;
  text-align: center;
  flex-direction: column;
  display: flex;
  gap: 20px;
}

.login-form input {
  height: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 8px;
  border: #ccc solid 1px;
  font-size: 16px;
}
input::placeholder {
  color: #9c9c9c;
}

.login-form button {
  background-color: #d74b4b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
.login-box-side h2 {
  margin-bottom: 20px;
  color: #d74b4b;
}

.login-side input {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.login-side button {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  background-color: #d74b4b;
  border: none;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.login-links {
  margin-top: 15px;
  font-size: 14px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.login-links a {
  color: #d74b4b;
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
}

.footer-otherpages {
  background-color: #f8f8f8;
  text-align: center;
  color: #d74b4b;
  padding: 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Products page */

.main-content {
  background-color: white;
  margin-bottom: 100px;
}

/* Signup page */

.signup-container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  height: calc(100vh - 200px);
}

.signup-body {
  background-color: #ffffff;
  width: 100%;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  gap: 30px;
  margin-top:70px ;
  height: 500px;
}

.signup-box-side {
background-color: #ffffff;
width: 100%;
padding-left: 20px;
padding-right: 20px;
box-shadow: 4px 7px 20px 8px rgba(119, 119, 119, 0.1);
border-radius: 16px;
  border: #ccc solid 1px;

}

.signup-box-side h2 {
color: #d74b4b;
}

.reason {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 28px;
}

.reason p {
  margin: 0;
}
.reason i {
  color: #d74b4b;
  transition: color 0.3s;
}

.login-intro {
  font-size: 18px;
  margin-bottom: 30px;
  
}

.login-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}




.signup-form input {
  height: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 8px;
  border: #ccc solid 1px;
  font-size: 16px;
}

.signup-form button {
  background-color: #d74b4b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.signin-links {
  margin-top: 15px;
  font-size: 14px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.signin-links a {
  color: #d74b4b;
  text-decoration: none;
}

.signin-links a:hover {
  text-decoration: underline;
}