body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: fixed;
  top: 20px;
  left: 0px;
  right: 0px;
  height: 20px;
  gap: 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}
.nav-links li a {
  color: rgb(228, 37, 37);
  text-decoration: none;
  font-weight: bold;
}
.nav-links li a:hover {
  text-decoration: underline;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 200px 0 140px 0;
}
.header-img img {
  height: 40px;
  width: auto;
  margin-left: 50px;
}

.header-text {
  text-align: center;
}

.header {
  background-image: url("./bg.png");
  background-size: cover;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
}

.logo img {
  height: 50px;
}
